<div id="main" class="wholemain">
    <div id="maindivision">
        <div class="headingdiv">
            <h1>Buy Membership</h1>
            <div>
                <button routerLink="/user/list" class="pribtn addclientbtn" pButton type="submit" label="BACK"></button>
            </div>
        </div>
        <div class="bodydiv cent">
            <p-card>
                <div id="papypal"></div>
            </p-card>
        </div>
    </div>
</div>

<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "square-loader" [fullScreen] = "true"><p style="color: white" > Working on it... </p></ngx-spinner> -->